
:root {
    --bg-header: #629CC4;
    --bg-button: #CEDDF3;
    --bg-footer: #3B739A;
}


* {
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
}




