div.bnt {
    display: flex;
    flex-direction: row;
}

ul, label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 0;
    /* text-decoration: underline solid blue; */
    
}

.txt_email {
    /* border-bottom:1px solid #d1cdc4; */
    border-bottom: 1px solid #ebe9e5;
    width:140px;
    /* border: 1px solid red; */
    height: 13px;
}

.txt_pass {
    border-bottom:1px solid #ebe9e5;
    width:140px;
    height: 13px;
}




#field_email {
    margin-bottom: 10px;
    font: 11px tahoma;
    color: #535353;
    border: 1px solid #b8b8b8;
    background: #fff;
    width: 300px;
    padding-bottom: 0;
    margin-left: 0.5rem;
    
}

#field_password {
    margin-bottom: 10px;
    width: 150px;
    font: 11px tahoma;
    color: #535353;
    border: 1px solid #b8b8b8;
    background: #fff;
    padding-bottom: 0;
    margin-left: 0.5rem;
}

main.content {
    border: 1px solid #d1cdc4;
    margin: auto;
    width: 80%;
}

main.content {
    /* border: 1px solid red; */
    padding: 0px 0 10px 3px;
    text-align: left;
    height: auto !important;
    float: left;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-top: 0em; */
    margin-block-end: 1em;


}


span.span_content, span.emphasis, form {
    font-family: Verdana;
    font-size: 11px;
}

span.emphasis {
    font-weight: bold;
}

span.emphasis {
    line-height: 1.2rem;

}

.link_emphasis {
    color: #0080C0;
    cursor: pointer;
    font-size: 11px;
    font-family: Verdana;


}

span.link_emphasis :hover {
    color: #FFBF8F;
}

